
name: Polaris Scan

on:
  push:
    branches: [ main, master, develop, stage, release ]
  pull_request:
    branches: [ main, master, develop, stage, release ]
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  polaris-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Polaris Scan
        uses: blackduck-inc/black-duck-security-scan@v2.0.0
        with:
          polaris_server_url: ${{ vars.POLARIS_SERVERURL }}
          polaris_access_token: ${{ secrets.POLARIS_ACCESSTOKEN }}
          polaris_assessment_types: "SCA,SAST"
          polaris_application_name: "TestTJ"
          polaris_project_name: ${{ github.event.repository.name }}
          polaris_prComment_enabled: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          polaris_reports_sarif_create: true
          polaris_upload_sarif_report: true
